*.py[cod]
*.log
*.egg-info/
*.egg
__pycache__/
.coverage
.cache
.installed.cfg
.tox/
build/
coverage.xml
develop-eggs/
dist/
docs/_build/
eggs/
hosts/
htmlcov/
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
